/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.pidb
*.booproj
.vs/
.vscode/
/Reports/*.xml
/Reports/Seq/
/Reports/trace_*.txt
/Assets/InitTestScene*.unity
/Assets/InitTestScene*.unity.meta
